*{
	box-sizing: border-box;
}


html,body{
	height: 100%;
}

body{
	font-family: sans-serif;
	background-color: lightgray;
	display: flex;
	justify-content: center;	
}


/*h1*/
h1{
	text-align: center;
	font-style: italic;
	text-decoration-line: line-through;
}
/*ul*/
ul{
	list-style: decimal;
}

/*li*/
li {
	
}